<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Leaflet Map</title>

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
			integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		    crossorigin=""/>
		 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		    crossorigin=""></script>
	</head>
	<body>

		<div id='map' style='height: 400px ; width: 400px'></div>
		<span id='adress' class='d-none'><!-- Inserere l adresse de la formation ici ($formation->adress) --></span>
	</body>
</html>

<script>
	let map = L.map('map').setView([51.505, -0.09], 13);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
	    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	    maxZoom: 18,
	    id: 'mapbox/streets-v11',
	    accessToken: 'pk.eyJ1IjoibGVvdHJveSIsImEiOiJjazRnNmN4d2MwdGJpM2VvMzZjNTd4NDI3In0.Dwp8r28aKcD9hTkOh25wrg'
	}).addTo(map);

	const PostFromAdress = (adress, call) => {
		let xml = new XMLHttpRequest();
	 	let url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" + adress;
	 	xml.onreadystatechange = function () {
	 		if (this.readyState == 4 && this.status == 200) {
	 			let array = JSON.parse(this.responseText);
	 			call([array[0].lat , array[0].lon]);
	 		}
	 	}
	 	xml.open("GET", url, true);
	 	xml.send();
	}

	const redirectMapTo = (adress) => {
		PostFromAdress(adress, (formaCoord) => {
			map.setView(formaCoord, 13);
			let marker = L.marker(formaCoord).addTo(map).bindPopup(adress);
		})
	}



	redirectMapTo(document.getElementById('adress').textContent);

</script>
